

<form class="form-inline" *ngIf="!authService.getUser()">
  <div class="form-group">
      <label for="username"> Usuario: ( escriba su nombre de usuario )</label>
      <input class="form-control" name="username" #username>
  </div>
  <div class="form-group">
      <label for="password"> Clave: ( escriba su contraseña )</label>
      <input class="form-control" type="password" name="password" #password>
  </div>
  <a class="btn btn-default" (click)="login(username.value,password.value)">Entrar!</a>
  {{mensajeError}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
